
<%- include('partials/header') %>

  <div id="post-container">
    <% posts.forEach(post => { %>
      <div class="post">
        <h3><%= post.authorName %> <small><%= post.authorEmail %></small></h3>
        <h4><%= post.title %></h4>
        <p><%= post.body %></p>
      </div>
      <div>
        <button class="btn">Edit</button>
        <button class="btn-delete" id="<%=post._id%>">delete</button>
        <!-- <a href="/post/delete/?id=<%=post._id%>">Delete</a> -->
      </div>
    <% }) %>

  </div>


<%- include('partials/footer') %>