
<%- include('partials/header') %>

<div>
    <h1>Welcome to your profile</h1>
    <p><b>Name: </b><%= user.name %></p>
    <p><b>Email: </b><%= user.email %></p>
</div>
<script>
    localStorage.setItem('token', '<%= token %>')
</script>
<%- include('partials/footer') %>