<%- include('partials/header') %>

  <form action="/user/signup" method="POST" class="signup-form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= data.name %>" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="<%= data.email %>" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="<%= data.password %>" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" value="<%= data['confirm-password'] %>" required>
    <input type="checkbox" id="checkbox" name="checkbox" required>
    <label for="checkbox">Accept <small>Terms and Condition</small></label>
    <button type="submit">Register</button>
    <span><%= error %></span>
  </form>
  <p>Already a user? <a href="/signin">SignIn</a></p>

<%- include('partials/footer') %>